/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */

  font-family: var(--main-font-family), Arial, Verdana, Tahoma, sans-serif;
  font-size: var(--main-text-size);
  background-color: var(--bg-color);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-color);
  font-weight: bold;
}

/* Header */

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, min-content);
  padding: 10px;
  position: relative;
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header::before {
  content: ' ';
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  bottom: 10px;
  left: 10px;
}

.header::after {
  content: ' ';
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  top: 10px;
  right: 10px;
}

.header__decor::before {
  position: absolute;
  content: 'rec';
  font-family: var(--main-font-family), Arial, Verdana, Tahoma, sans-serif;
  text-transform: uppercase;
  color: var(--accent-color);
  line-height: 1.5;
  top: 10px;
  right: 38px;
}

.header__decor::after {
  position: absolute;
  content: ' ';
  block-size: 9px;
  inline-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 5px var(--accent-color);
  top: 18px;
  right: 19px;
}

.header__theme-menu {
  padding: 65px 0;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  color: var(--accent-color);
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid var(--accent-color);
  text-transform: lowercase;
  padding: 1.5px 13px;
  line-height: 1;
}

.header__title {
  font-size: var(--heading-font-size);
  line-height: 82.5%;
  color: var(--heading-text-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
  margin: 55px 0;
}